
@{
    ViewBag.Title = "WindowsSignalrTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>windowsSignalrTest</h2>
<input type="text" id="message" />
<button type="button" id="btn">回调服务的Info方法</button>
@section scripts{
    <!--必须引用SignalR库-->
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    @*<script src="http://127.0.0.1:8000/signalr/hubs"></script>*@
    @*<script src="~/Scripts/service.signalr.js"></script>*@
    <script src="~/Scripts/windowsService.signalr.js"></script>
}
